body{
    background-color: rgba(17, 93, 17, 0.562);

    display: flex;
    justify-content: center ;
}

.buttons{
    margin-left: 20px;
    margin-top: 70px ;
}
#field{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    
    margin-top: 50px;

    /* height: 500px;
    width: 1500px; */
}
.exel{
    height: 50px;
width: 50px;

}
.snakehad{
    background-image: url(snakehad.png);
    background-size: cover;
}
.snakebody{
    background-color: #1cb34b;
}
.apple{
    background-image: url(apple.png);
    background-size: cover;
}
#startbutton{
    height: 30px;
    width: 100px;
    background-color: white;
    border-radius: 6px;
    color: #1cb34b;
    font-size:15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    outline: none;
    
}
#pausebutton{
    height: 30px;
    width: 100px;
    background-color: white;
    border-radius: 6px;
    color: #1cb34b;
    font-size:15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    outline: none;
}
input{
    width: 50px;
    height: 20px;
    margin-top: 10px;
    border: none;

    border-radius: 6px;
    outline: none;
}


label{
    color: white;
}
#inputs{
    margin-left: 20px;
}